<!DOCTYPE html>
<html lang="en">
    {% include 'includes/head_settings.html' %}
    <body id="page-top">
        <!-- Navigation-->
        {% include 'includes/navigation.html' %}
        <!-- Masthead-->
        {% include 'includes/header.html' %}

        <!-- Content-->
        <div class="text-center">
            <h2 class="section-heading text-uppercase">[404] Current page does not exist</h2>
            <a href="{% url 'home' %}"><h3 class="section-subheading text-muted">Return</h3></a>
        </div>

        <!-- Footer-->
        {% include 'includes/footer.html' %}
        
        {% include 'includes/foot_settings.html' %}
    </body>
</html>
