<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">{{contact_title}}</h2>
            <h3 class="section-subheading text-muted">{{contact_description}}</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <form id="contactForm" action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        {{user_message.name}}
                        <div class="invalid-feedback" data-sb-feedback="name:required">{{contact_name_require}}</div>
                    </div>
                    <div class="form-group">
                        {{user_message.email}}
                        <div class="invalid-feedback" data-sb-feedback="email:required">{{contact_email_require}}</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">{{contact_email_invalid}}</div>
                    </div>
                    <div class="form-group mb-md-0">
                        {{user_message.phone}}
                        <div class="invalid-feedback" data-sb-feedback="phone:required">{{contact_phone_require}}</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        {{user_message.message}}
                        <div class="invalid-feedback" data-sb-feedback="message:required">{{contact_message_require}}</div>
                    </div>
                </div>
            </div>

            <!-- Input Messages -->
            {% if messages %}
                <div style="color:White;">
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- Submit Button-->
             <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">{{contact_send_message}}</button></div>
        </form>
        
    </div>
</section>