{% extends 'base.html' %}

{% block content %}

    <!-- Services-->
    {% include 'service.html' %}

    <!-- Portfolio Grid-->
    {% include 'portfolio.html' %}

    <!-- History-->
    {% include 'history.html' %}

    <!-- Staff-->
    {% include 'staff.html' %}

    <!-- Partners-->
    {% include 'partner.html' %}

    <!-- Contact-->
    {% if user.is_authenticated %}
        {% include 'contact.html' %}
    {% endif %}

    <!-- Portfolio Modals -->
    {% include 'portfolio_modals.html' %}

{% endblock %}